*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  scroll-behavior:smooth;
}

body{
  font-family:'Courier New', Courier, monospace;
  background:#0c0c0c;
  color:#fff;
  overflow-x:hidden;
}

body::before{
  content:"";
  position:fixed;
  width:600px;
  height:600px;
  background:rgba(140,82,255,0.15);
  filter:blur(120px);
  top:-150px;
  right:-150px;
  z-index:-1;
}

body::after{
  content:"";
  position:fixed;
  width:500px;
  height:500px;
  background:rgba(0,200,255,0.10);
  filter:blur(120px);
  bottom:-200px;
  left:-150px;
  z-index:-1;
}

section{
  min-height:100vh;
  padding:100px 10%;
}

.navbar{
  position:fixed;
  width:100%;
  top:0;
  left:0;
  padding:20px 10%;
  backdrop-filter:blur(12px);
  background:rgba(0,0,0,0.35);
  display:flex;
  justify-content:space-between;
  align-items:center;
  z-index:999;
  border-bottom:1px solid rgba(255,255,255,0.05);
}

.logo{
  font-size:1.3rem;
  font-weight:700;
}

.nav-links{
  display:flex;
  gap:30px;
}

.nav-links a{
  color:#d7d7d7;
  text-decoration:none;
  transition:.3s;
}

.nav-links a:hover{
  color:#fff;
}
